<%= form_with model: @user do |form| %>
  <%= form.label :username, "User name:" %>
  <%= form.text_field :username, placeholder: "Enter full name", autofocus: true %><br><br>

  <%= form.label :email, "Email:" %>
  <%= form.email_field :email, placeholder: "example@example.com" %><br><br>

  <%= form.label :password, "Password:" %>
  <%= form.text_field :password, placeholder: "Enter a new password" %><br><br>

  <%= form.submit "Create User" %>
<% end %>

<!--
<%= <%= form_tag users_path do %> %>
  <label>User name:</label>
  <%= text_field_tag :'user[username]' %><br><br>
  <label>Email:</label>
  <%= email_field_tag :'user[email]' %><br><br>
  <label>Password:</label>
  <%= password_field_tag :'user[password]' %><br><br>

  <%= submit_tag "Create User" %>
<% end %>
-->

<!--
<form accept-charset="UTF-8" action="/users" method="post">
  <label for="username">User name:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form> -->
